*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px solid blue;
    margin: 50px 15vw 20px 15vw;
    background-color: lightblue;
    border-radius: 10px;
    display: block;
}
.heading{
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: aqua;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 10px;
}
#question{
    padding:2rem;
    text-align: center;
    
}
ul li label{
    cursor:pointer;
}

ul li{
    font-size: 1.1rem;
}
button{
    background-color: lightblue;
    cursor:pointer;
    font-size: 1.1rem;
    display: block;
    border: none;
    margin:auto;
    padding:10px;
    border-radius: 10px;
}
#myscore1{
    background-color: aqua;
    border-radius: 10px;
    margin:10px auto 10px auto;
    width: fit-content;
    padding: 10px;
    text-align: center;
}
